.goback {
  text-align: left;
  color: #a5adce;
  font-family: Consolas;
  text-decoration: none;
  padding-left: 2%;
}

.goback:hover {
  color: #a5adce;
  text-decoration: underline;
}

.description {
  align: center;
  width: 80%;
}
